SPORTSCARDSPRO_API_TOKEN=
SPORTSCARDSPRO_BASE_URL=https://www.sportscardspro.com
SOURCE_MANIFEST_PATH=./private/ACoolCOLLECTION_100_Item_Drive_Manifest.json
OUTPUT_DIRECTORY=./private/output
SYNC_DELAY_SECONDS=1.1
CACHE_HOURS=24
DEFAULT_MARKETPLACE_FEE_RATE=0.13
DEFAULT_PAYMENT_FEE_RATE=0.029
DEFAULT_PAYMENT_FIXED_FEE_CENTS=30
DEFAULT_SHIPPING_CENTS=500
DEFAULT_INSURANCE_CENTS=0
DEFAULT_RESERVE_RATE=0.05
